<% include common/header.ejs %>

<div class="container-menu container-fluid ">
    <div class="menu container">
        <div class="form">
            <h3> 1. Контактні дані </h3>
            <div class="row">
                <form class="form-horizontal" id="contact-forms">
                    <div class="col-md-7 contact-form">
                        <div class="form-group control-group">
                            <label class="col-sm-2 label-form"> Ім’я </label>
                            <div class="col-sm-10">
                                <input class="form-control" name="form-name" id="name" type="text"
                                       placeholder="Имя Фамилия">
                                <div class="error-message" id="name-error" style="display:none;"> Введiть Ваше iм'я
                                    кирилицeю (мiн. кiль-ть символiв: 2)
                                </div>
                            </div>
                        </div>
                        <div class="form-group control-group">
                            <label class="col-sm-2 label-form"> Телефон </label>
                            <div class="col-sm-10">
                                <input class="form-control" name="form-phone" id="phone" type="text"
                                       placeholder="+380991358888">
                                <div class="error-message" id="ph-error" style="display:none;"> Введіть номер телефону у
                                    форматі +380 або почніть з 0
                                </div>
                            </div>

                        </div>
                        <div class="form-group control-group">
                            <label class="col-sm-2 label-form"> Адреса </label>
                            <div class="col-sm-10">
                                <input class="form-control" name="form-address" id="address" type="text"
                                       placeholder="Подол, Киев, Украина">
                                <div class="error-message" id="ad-error" style="display:none;"> Будь ласка, введіть
                                    точну адресу
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-5">
                    <div class="bs-callout bs-callout-success extra-info">
                        <h4>Інформація про замовлення</h4>
                        <h5 class="order-info information"> Приблизний час доставки:  </h5>
                        <p id="time-info" class="order-info"> невідомий </p>
                        <h5 class="order-info information"> Адреса доставки:  </h5>
                        <p id="address-info" class="order-info"> невідома</p>
                    </div>
                </div>

                <button class="btn btn-warning btn-next" id="submit-btn"> Далi
                    <i class=" glyphicon glyphicon-chevron-right "> </i>
                </button>

                <div id="googleMap" style="width:98%;height:300px;"></div>
            </div>

        </div>

    </div>
</div>


<div class=" panel right-panel buy-mode">

    <div class="right-title">
        <div class="order-title"> Замовлення <span id="order-quantity" class="badge "> </span></div>
    </div>

    <div class=" order-bill">
        <span class="sum sum-order-title">Сума замовлення</span>
        <span id="total-sum" class="sum sum-num"> </span>
        <span class="sum sum-num"> грн.</span>
        <button class="btn btn-warning btn-block" id="edit-btn"> Редагувати замовлення</button>
    </div>

    <div class="orders ">
        <div id="orders-list"></div>
    </div>

</div>

<% include common/footer.ejs %>